@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    background-color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 4rem;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-decoration: none;
    padding: 5px;
    list-style-type: none;
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav li {
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
}

nav a.active {
    text-decoration: underline;
}

nav ul a:visited {
    color: midnightblue;
}

nav ul a:hover {
    color: midnightblue;
    text-decoration: underline;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f4f7fc;
}

article {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 40px;
}

.about-us-article {
    align-items: center;
    justify-content: center;
}

.about-us-article p {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

.about-us-article img {
    width: 1000px;
    border-radius: 12px;
    box-shadow: 1px 1px #333;
}

.article-section {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.article-section img {
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.article-section-text {
    margin: 50px;
    padding: 50px;
}

.article-gallery {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.article-gallery h2 {
    margin: 20px;
    flex-basis: 100%;
    text-align: center;
}

.article-gallery img {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 3px;
}

.article-gallery img:hover {
    box-shadow: 0 0 2px 2px darkblue;
}

.testimony-title {
    display: flex;
    justify-content: center;
}

.customer-testimonies {
    display: flex;
    justify-content: center;
    background-color: white;
}

.video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.audio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimony-card {
    width: 20%;
    height: 100px;
    margin-bottom: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimony-card .material-icons {
    font-size: 50px !important;
}

.testimony-card img {
    width: 100px;
    height: 100px;
    border-radius: 70px;
    margin: 20px;
}

#banner {
    width: 100%;
    border-bottom: 4px solid white;
    
}

hr {
    width: 75%;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px;
    margin: 50px;
}

.call-to-action button{
    margin-left: 20px;
}

footer {
    background-color: white;
    padding: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

form {
    padding: 20px;
}

fieldset {
    padding: 20px;
    margin: 10px 0 10px 0;
}

input {
    margin: 5px;
}

legend {
    font-weight: bold;
}

form button {
    margin-top: 10px;
}

button {
    padding: 14px;
    border: none;
    border-radius: 10px;
    box-shadow: #333 2px 2px;
    background-color: #007cb5; 
    color: white;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

button:hover {
    box-shadow: 2px 2px black;
    cursor: pointer;
}

#table-title {
    display: flex;
    justify-content: center;
}

table {
    margin: 0 auto;
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000;
    padding: 19px;
}

/* Every other table row */
tr:nth-child(even) { 
    background-color: rgb(187, 206, 171);
}

@media only screen and (max-width: 938px) {

    nav ul {
        flex-direction: column;
        align-items: center;
        font-size: 25px;
    }

    nav li {
        padding: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    header h1 {
        font-size: 20px;
    }

    article {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .article-section {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    #article-section-flip {
        flex-direction: column-reverse;
    }

    #article-section-flip-second {
        flex-direction: column-reverse;
    }

    .article-section-text {
        margin: 0;
        padding: 0;
    }

    .article-section img {
        width: 275px;
        height: 275px;
        justify-content: center;
    }

    .about-us-article img {
        width: 100%;
    }

    .about-us-article p {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .customer-testimonies {
        flex-direction: column;
        align-items: center;
    }

    .testimony-card {
        width: 300px;
        margin-bottom: 200px;
    }

    .call-to-action {
        padding: 30px;
        margin: 0px;
    } 

     .call-to-action button{

        padding: 5px;
    } 

    table {
        padding: 2px;
    }

    td {
        padding: 0;
    }

    footer {
        padding: 50px 0px 50px 0px;
    }
  }